<div class="container-fluid my-4 p-0">
        <div class="background-home d-flex justify-content-center align-items-center" style="min-height: 820px; width: 100%;">
        <div class="container" style="max-width: 1450px; height: 800px;">
            <div class="row h-100 p-4">
                <div class="col-6 d-flex align-items-center justify-content-center">
                        <div class="row d-flex flex-wrap" style="width: 100%; min-height: 0;">
                            <h2 class="text-white display-2">Educazione</h2>
                            <h1 class="display-1" style="color: #0075FF;">Online</h1>
                            <p>Benvenuti nella nuova frontiera dell'apprendimento online!</p>
                            <p>Gsingul ti offre lezioni interattive e coinvolgenti integrate con la realtà virtuale, per un'esperienza formativa davvero immersiva. Esplora corsi personalizzati, partecipa attivamente alle classi virtuali e interagisci in tempo reale con docenti e compagni.</p>
                            <h3>Accedi per iscriverti</h3>
                            <a href="{{ '/login' | relative_url }}">Accedi o Registrati</a>

                         </div>
                </div>
                <div class="col-6 d-flex align-items-center justify-content-center">
                    <div class="d-flex w-100 h-100">
                        <img src="/images/Laureato_destokp.png" alt="Laureato" class="img-fluid" 
                             style="width: 100%; height: 100%; object-fit: cover;">
                    </div>
                </div>
            </div>
        </div>
        </div>

</div>
