<div class="container-fluid my-4 p-0">
    <div class="background-hero2 d-flex justify-content-center align-items-center" style="min-height: 820px; width: 100%;">
    <div class="container" style="max-width: 1450px; height: 800px;">
        <div class="row h-100 p-4">
            <div class="col-6 d-flex align-items-center justify-content-center" style="font-family: 'Inter', sans-serif;">
                    <div class="row d-flex flex-wrap" style="width: 100%; min-height: 0; gap: 1.5rem;">
                        <h3 class="text-white display-3 fw-bold"> Impara più velocemente con il miglior insegnante online per te.</h3>
                        <h6 class="text-white" style="font-size: 1.65rem; font-style: italic;">Segui lezioni online adatte al tuo livello, al tuo budget e al tuo programma.</h6>
                        <button type="button" class="btn btn-light" style="width: 300px;">Primary</button>
                        <!-- <a href="{{ '/login' | relative_url }}">Accedi o Registrati</a> -->
                     </div>
            </div>
            <div class="col-6 d-flex align-items-center" style="height: 100%;">
                <div class="d-flex w-100 h-100 justify-content-end">
                    <img src="/images/Guy.jpg" alt="Laureato" class="img-fluid" 
                            style="max-width: 100%; max-height: 100%; object-fit: contain; border-radius: 20px; ">
                </div>
            </div>
        </div>
    </div>
    </div>
</div>
